@media (min-width: @screen-lg-min);

.main-cntnr{
	border: 1px solid blue;
}

.header-cntnr{
	border: 1px solid orange;
	margin-left: -15px;
	margin-right: -15px;
	background-color: green;
}

.footer-cntnr{
	border: 1px solid orange;
	margin-left: -15px;
	margin-right: -15px;
	background-color: green;
}